@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron text-center">

    <h1>Consola De Monitoreo</h1>
    <p align="center">000 - Soluciones Base IGT</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>¿Qué es?</h3>
            <p class="text-justify">
                Este software es una consola de monitoreo con ella podrás gestionar las conexiones
                hacia las distintas bases de datos, así como ver el estado de cada transacción
                realizada por el servicio proporcionado por Integra.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>¿Cómo funciona?</h3>
            <p class="text-justify">
                Los servicios proporcionados por Integra manejan una bitácora para poder
                registrar y dejar un historial de toda transacción realizada y de su estado,
                en esta consola puedes ubicarte en el menú de la parte superior en el apartado
                Acciones-> Ver Bitácora el cual te mostrara una ventana donde podrás ver la bitácora
                y consultar los estados de las diferentes transacciones.
            </p>
        </div>
        <div class="">
            <img src="~/images/LogoIntegra.jpg" style="width:15%;height:25%;position:absolute;margin-top:2%;margin-left:5%;" />
        </div>
    </div>
</div>